<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="SuiteCosmo">
  <test  name="TestCosmo">
    <classes>
      <class name="Cosmo.Cosmo_coding">
      <methods>
      <include name ="name_fill"/>
      <include name ="radio_button"/>
       <include name ="single_checkbox"/>
        <exclude name="multiple_checkbox_all" />
        <exclude name="multiple_checkbox_choice" />
        
      </methods>
      </class>
    </classes>
  </test> 
</suite> 
